<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.5.2/ionicons.min.css">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>


    <div class="box">
        <form action="{{ url_for('login') }}" method="POST">
            <h2>Welcome Back!</h2>

            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input  name="email" id="email" required>
                <label for="email">Email or Username:</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" name="password" id="password" required>
                <label for="password">Password:</label>
            </div>
            <div class="forget">
                <label>
                    <input type="checkbox"> Remember me
                </label>
                <label>
                    <a href="{{url_for('forgetpassword')}}">Forget Password</a>
                </label>
            </div>
            <button type="submit">Log In</button>
            <div class="register">
                <p>Don't have an account? <a href="{{url_for('register')}}">Register</a></p>
            </div>
        </form>
    </div>

    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
</body>
</html>
